@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

<!DOCTYPE html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/SignUpIn/style.css" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
</head>

<body class="signup-body">

    <div class="content">
        <div class="title">Create account</div>
        <form id="SignupData">
            <input type="text" placeholder="Enter Your Name" name="Name" id="name" />
            <input type="text" placeholder="E-mail" name="Email" id="email" />
            <input type="password" placeholder="Password" id="password" />
            <input type="password" placeholder="Confirm Password" name="Password" id="cpassword" onchange="matchPassword()" />
            <input type="number" placeholder="Contact Number" name="Contact" id="number" />
            <input type="checkbox" id="check" /><span style="font-family: inherit;font-size:13px">By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.</span>
            <input id="CreateAccount" value="Create Account" class="btn" readonly style="background-color:#9c27b0; color:white">
        </form>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/AdminContent/js/core/jquery.min.js"></script>
<script src="~/Content/js/SignupValidatios.js"></script>
